<nav class="nav nav__links sidebar">
    <!--<div style=" width: inherit; ">-->
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 style="background-color: rgba(0,0,0,0.4)";">
            <a class="nav-link">Menu</a>
            <button class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>*@
    <!--</div>-->

    <div class="nav__link">
        <ul class="nav flex-column">
            <li class="nav-item  nav__link">
                <a class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item  nav__link">
                <a class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </a>
            </li>
            <li class="nav-item  nav__link">
                <a class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </a>
            </li>
            <li class="nav-item  nav__link">
                <a class="nav-link" href="contactus">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Contact Us
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__overlay"></div>
</nav>